async-timeout
certifi
charset-normalizer
defusedxml
idna
ifaddr
librespot @ git+https://github.com/kokarare1212/librespot-python
music-tag
mutagen
packaging
Pillow
protobuf
pycryptodomex
PyOgg
PyQt5
PyQt5-Qt5
PyQt5-sip
pyxdg
requests
show-in-file-manager
urllib3
websocket-client
zeroconf
