async-timeout
certifi
charset-normalizer
defusedxml
googletrans==4.0.0-rc1
idna
ifaddr
librespot
mutagen
packaging
Pillow
protobuf
pycryptodomex
PyOgg
pyperclip
PyQt6
PyQt6-Qt6
PyQt6-sip
pyxdg
requests
urllib3
websocket-client
zeroconf
