<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnTheSpot - Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="header">
        <ul>
      <li><a href="https://github.com/justin025/onthespot/" target="_blank">OnTheSpot</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/download_queue">Download Queue</a></li>
      <li><a class="active" href="/settings">Settings</a></li>
      <li><a href="/about">About</a></li>
        </ul>
    </div>

    <br>

    <h2>Account Pool</h2>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Username</th>
                <th>Service</th>
                <th>Account Type</th>
                <th>Max Bitrate</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for account in account_pool %}
            <tr>
                <td>{{ loop.index - 1 }}</td>
                <td>{{ account.username[:20] }}{% if account.username|length > 20 %}...{% endif %}</td>
                <td>{{ account.service|capitalize }}</td>
                <td>{{ account.account_type|capitalize }}</td>
                <td>{{ account.bitrate }}</td>
                <td>{{ account.status|capitalize }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <form id="settings-form">

        <label for="parsing_acc_sn">Active Account Number:</label>
        <input type="number" id="parsing_acc_sn" value="{{ config.parsing_acc_sn }}" placeholder="Enter parsing account number"><br><br>

        <h2>General</h2>

        <label for="download_root">Download Path:</label>
        <input type="text" id="download_root" value="{{ config.download_root }}" placeholder="Enter download root"><br><br>

        <label for="download_copy_btn">Download Copy Button</label>
        <input type="checkbox" id="download_copy_btn" {% if config.download_copy_btn %}checked{% endif %}><br><br>

        <label for="download_open_btn">Download Open Button</label>
        <input type="checkbox" id="download_open_btn" {% if config.download_open_btn %}checked{% endif %}><br><br>

        <label for="download_locate_btn">Download Locate Button</label>
        <input type="checkbox" id="download_locate_btn" {% if config.download_locate_btn %}checked{% endif %}><br><br>

        <label for="download_delete_btn">Download Delete Button</label>
        <input type="checkbox" id="download_delete_btn" {% if config.download_delete_btn %}checked{% endif %}><br><br>

        <label for="show_search_thumbnails">Show Search Thumbnails</label>
        <input type="checkbox" id="show_search_thumbnails" {% if config.show_search_thumbnails %}checked{% endif %}><br><br>

        <label for="show_download_thumbnails">Show Download Thumbnails:</label>
        <input type="checkbox" id="show_download_thumbnails" {% if config.show_download_thumbnails %}checked{% endif %}><br><br>

        <label for="search_thumb_height">Thumbnail Size:</label>
        <input type="number" id="search_thumb_height" value="{{ config.search_thumb_height }}" placeholder="Enter search thumbnail height"><br><br>

        <label for="max_search_results">Max Search Results:</label>
        <input type="number" id="max_search_results" value="{{ config.max_search_results }}" placeholder="Enter max search results"><br><br>

        <label for="explicit_label">Explicit Label:</label>
        <input type="text" id="explicit_label" value="{{ config.explicit_label }}" placeholder="Enter explicit label"><br><br>

        <label for="mirror_spotify_playback">Mirror Spotify Playback</label>
        <input type="checkbox" id="mirror_spotify_playback" {% if config.mirror_spotify_playback %}checked{% endif %}><br><br>

        <label for="windows_10_explorer_thumbnails">Windows 10 Explorer Thumbnails:</label>
        <input type="checkbox" id="windows_10_explorer_thumbnails" {% if config.windows_10_explorer_thumbnails %}checked{% endif %}><br><br>

        <label for="check_for_updates">Check for Updates</label>
        <input type="checkbox" id="check_for_updates" {% if config.check_for_updates %}checked{% endif %}><br><br>

        <h2>Search</h2>

        <label for="enable_search_tracks">Enable Search Tracks</label>
        <input type="checkbox" id="enable_search_tracks" {% if config.enable_search_tracks %}checked{% endif %}><br><br>

        <label for="enable_search_albums">Enable Search Albums</label>
        <input type="checkbox" id="enable_search_albums" {% if config.enable_search_albums %}checked{% endif %}><br><br>

        <label for="enable_search_artists">Enable Search Artists</label>
        <input type="checkbox" id="enable_search_artists" {% if config.enable_search_artists %}checked{% endif %}><br><br>

        <label for="enable_search_playlists">Enable Search Playlists</label>
        <input type="checkbox" id="enable_search_playlists" {% if config.enable_search_playlists %}checked{% endif %}><br><br>

        <label for="enable_search_episodes">Enable Search Episodes</label>
        <input type="checkbox" id="enable_search_episodes" {% if config.enable_search_episodes %}checked{% endif %}><br><br>

        <label for="enable_search_shows">Enable Search Shows</label>
        <input type="checkbox" id="enable_search_shows" {% if config.enable_search_shows %}checked{% endif %}><br><br>

        <label for="enable_search_audiobooks">Enable Search Audiobooks</label>
        <input type="checkbox" id="enable_search_audiobooks" {% if config.enable_search_audiobooks %}checked{% endif %}><br><br>


        <h2>Downloads</h2>

        <label for="media_format">Media Format:</label>
        <input type="text" id="media_format" value="{{ config.media_format }}" placeholder="Enter media format"><br><br>

        <label for="track_path_formatter">Track Path Formatter:</label>
        <input type="text" id="track_path_formatter" value="{{ config.track_path_formatter }}" placeholder="Enter track path formatter"><br><br>

        <label for="podcast_media_format">Podcast Media Format:</label>
        <input type="text" id="podcast_media_format" value="{{ config.podcast_media_format }}" placeholder="Enter podcast media format"><br><br>

        <label for="podcast_path_formatter">Podcast Path Formatter:</label>
        <input type="text" id="podcast_path_formatter" value="{{ config.podcast_path_formatter }}" placeholder="Enter podcast path formatter"><br><br>

        <label for="use_playlist_path">Use Playlist Path</label>
        <input type="checkbox" id="use_playlist_path" {% if config.use_playlist_path %}checked{% endif %}><br><br>

        <label for="playlist_path_formatter">Playlist Path Formatter:</label>
        <input type="text" id="playlist_path_formatter" value="{{ config.playlist_path_formatter }}" placeholder="Enter playlist path formatter"><br><br>

        <label for="create_m3u_playlists">Create M3U Playlists</label>
        <input type="checkbox" id="create_m3u_playlists" {% if config.create_m3u_playlists %}checked{% endif %}><br><br>

        <label for="m3u_name_formatter">M3U Name Formatter:</label>
        <input type="text" id="m3u_name_formatter" value="{{ config.m3u_name_formatter }}" placeholder="Enter M3U name formatter"><br><br>

        <label for="ext_seperator">Extension Separator:</label>
        <input type="text" id="ext_seperator" value="{{ config.ext_seperator }}" placeholder="Enter extension separator"><br><br>

        <label for="ext_path">Extension Path:</label>
        <input type="text" id="ext_path" value="{{ config.ext_path }}" placeholder="Enter extension path"><br><br>

        <label for="save_album_cover">Save Album Cover</label>
        <input type="checkbox" id="save_album_cover" {% if config.save_album_cover %}checked{% endif %}><br><br>

        <label for="album_cover_format">Album Cover Format:</label>
        <input type="text" id="album_cover_format" value="{{ config.album_cover_format }}" placeholder="Enter album cover format"><br><br>

        <label for="illegal_character_replacement">Illegal Character Replacement:</label>
        <input type="text" id="illegal_character_replacement" value="{{ config.illegal_character_replacement }}" placeholder="Enter illegal character replacement"><br><br>

        <label for="inp_enable_lyrics">Enable Lyrics</label>
        <input type="checkbox" id="inp_enable_lyrics" {% if config.inp_enable_lyrics %}checked{% endif %}><br><br>

        <label for="only_synced_lyrics">Only Synced Lyrics</label>
        <input type="checkbox" id="only_synced_lyrics" {% if config.only_synced_lyrics %}checked{% endif %}><br><br>

        <label for="use_lrc_file">Use LRC File</label>
        <input type="checkbox" id="use_lrc_file" {% if config.use_lrc_file %}checked{% endif %}><br><br>

        <label for="file_bitrate">File Bitrate:</label>
        <input type="text" id="file_bitrate" value="{{ config.file_bitrate }}" placeholder="Enter file bitrate"><br><br>

        <label for="file_hertz">File Hertz:</label>
        <input type="text" id="file_hertz" value="{{ config.file_hertz }}" placeholder="Enter file hertz"><br><br>

        <label for="rotate_acc_sn">Rotate Account SN</label>
        <input type="checkbox" id="rotate_acc_sn" {% if config.rotate_acc_sn %}checked{% endif %}><br><br>

        <label for="force_raw">Force Raw Download</label>
        <input type="checkbox" id="force_raw" {% if config.force_raw %}checked{% endif %}><br><br>

        <label for="download_delay">Download Delay:</label>
        <input type="number" id="download_delay" value="{{ config.download_delay }}" placeholder="Enter download delay"><br><br>

        <label for="chunk_size">Chunk Size:</label>
        <input type="number" id="chunk_size" value="{{ config.chunk_size }}" placeholder="Enter chunk size"><br><br>

        <label for="maximum_queue_workers">Maximum Queue Workers:</label>
        <input type="text" id="maximum_queue_workers" value="{{ config.maximum_queue_workers }}" placeholder="Enter maximum download workers"><br><br>

        <label for="maximum_download_workers">Maximum Download Workers:</label>
        <input type="text" id="maximum_download_workers" value="{{ config.maximum_download_workers }}" placeholder="Enter maximum download workers"><br><br>

        <label for="translate_file_path">Translate File Path</label>
        <input type="checkbox" id="translate_file_path" {% if config.translate_file_path %}checked{% endif %}><br><br>

        <h2>Metadata</h2>

        <label for="metadata_seperator">Metadata Separator:</label>
        <input type="text" id="metadata_seperator" value="{{ config.metadata_seperator }}" placeholder="Enter metadata separator"><br><br>

        <label for="overwrite_existing_metadata">Overwrite Existing Metadata:</label>
        <input type="checkbox" id="overwrite_existing_metadata" {% if config.overwrite_existing_metadata %}checked{% endif %}><br><br>

        <label for="embed_cover">Embed Cover</label>
        <input type="checkbox" id="embed_cover" {% if config.embed_cover %}checked{% endif %}><br><br>

        <label for="embed_branding">Embed Branding</label>
        <input type="checkbox" id="embed_branding" {% if config.embed_branding %}checked{% endif %}><br><br>

        <label for="embed_artist">Embed Artist</label>
        <input type="checkbox" id="embed_artist" {% if config.embed_artist %}checked{% endif %}><br><br>

        <label for="embed_album">Embed Album</label>
        <input type="checkbox" id="embed_album" {% if config.embed_album %}checked{% endif %}><br><br>

        <label for="embed_albumartist">Embed Album Artist</label>
        <input type="checkbox" id="embed_albumartist" {% if config.embed_albumartist %}checked{% endif %}><br><br>

        <label for="embed_name">Embed Name</label>
        <input type="checkbox" id="embed_name" {% if config.embed_name %}checked{% endif %}><br><br>

        <label for="embed_year">Embed Year</label>
        <input type="checkbox" id="embed_year" {% if config.embed_year %}checked{% endif %}><br><br>

        <label for="embed_discnumber">Embed Disc Number</label>
        <input type="checkbox" id="embed_discnumber" {% if config.embed_discnumber %}checked{% endif %}><br><br>

        <label for="embed_tracknumber">Embed Track Number</label>
        <input type="checkbox" id="embed_tracknumber" {% if config.embed_tracknumber %}checked{% endif %}><br><br>

        <label for="embed_genre">Embed Genre</label>
        <input type="checkbox" id="embed_genre" {% if config.embed_genre %}checked{% endif %}><br><br>

        <label for="embed_performers">Embed Performers</label>
        <input type="checkbox" id="embed_performers" {% if config.embed_performers %}checked{% endif %}><br><br>

        <label for="embed_producers">Embed Producers</label>
        <input type="checkbox" id="embed_producers" {% if config.embed_producers %}checked{% endif %}><br><br>

        <label for="embed_writers">Embed Writers</label>
        <input type="checkbox" id="embed_writers" {% if config.embed_writers %}checked{% endif %}><br><br>

        <label for="embed_label">Embed Label</label>
        <input type="checkbox" id="embed_label" {% if config.embed_label %}checked{% endif %}><br><br>

        <label for="embed_copyright">Embed Copyright</label>
        <input type="checkbox" id="embed_copyright" {% if config.embed_copyright %}checked{% endif %}><br><br>

        <label for="embed_description">Embed Description</label>
        <input type="checkbox" id="embed_description" {% if config.embed_description %}checked{% endif %}><br><br>

        <label for="embed_language">Embed Language</label>
        <input type="checkbox" id="embed_language" {% if config.embed_language %}checked{% endif %}><br><br>

        <label for="embed_isrc">Embed ISRC</label>
        <input type="checkbox" id="embed_isrc" {% if config.embed_isrc %}checked{% endif %}><br><br>

        <label for="embed_length">Embed Length</label>
        <input type="checkbox" id="embed_length" {% if config.embed_length %}checked{% endif %}><br><br>

        <label for="embed_key">Embed Key</label>
        <input type="checkbox" id="embed_key" {% if config.embed_key %}checked{% endif %}><br><br>

        <label for="embed_bpm">Embed BPM</label>
        <input type="checkbox" id="embed_bpm" {% if config.embed_bpm %}checked{% endif %}><br><br>

        <label for="embed_url">Embed URL</label>
        <input type="checkbox" id="embed_url" {% if config.embed_url %}checked{% endif %}><br><br>

        <label for="embed_lyrics">Embed Lyrics</label>
        <input type="checkbox" id="embed_lyrics" {% if config.embed_lyrics %}checked{% endif %}><br><br>

        <label for="embed_explicit">Embed Explicit</label>
        <input type="checkbox" id="embed_explicit" {% if config.embed_explicit %}checked{% endif %}><br><br>

        <label for="embed_compilation">Embed Compilation</label>
        <input type="checkbox" id="embed_compilation" {% if config.embed_compilation %}checked{% endif %}><br><br>

        <label for="embed_service_id">Embed Service ID:</label>
        <input type="checkbox" id="embed_service_id" {% if config.embed_service_id %}checked{% endif %}><br><br>

        <label for="embed_timesignature">Embed Time Signature</label>
        <input type="checkbox" id="embed_timesignature" {% if config.embed_timesignature %}checked{% endif %}><br><br>

        <label for="embed_acousticness">Embed Acousticness</label>
        <input type="checkbox" id="embed_acousticness" {% if config.embed_acousticness %}checked{% endif %}><br><br>

        <label for="embed_danceability">Embed Danceability</label>
        <input type="checkbox" id="embed_danceability" {% if config.embed_danceability %}checked{% endif %}><br><br>

        <label for="embed_energy">Embed Energy</label>
        <input type="checkbox" id="embed_energy" {% if config.embed_energy %}checked{% endif %}><br><br>

        <label for="embed_instrumentalness">Embed Instrumentalness</label>
        <input type="checkbox" id="embed_instrumentalness" {% if config.embed_instrumentalness %}checked{% endif %}><br><br>

        <label for="embed_liveness">Embed Liveness</label>
        <input type="checkbox" id="embed_liveness" {% if config.embed_liveness %}checked{% endif %}><br><br>

        <label for="embed_loudness">Embed Loudness</label>
        <input type="checkbox" id="embed_loudness" {% if config.embed_loudness %}checked{% endif %}><br><br>

        <label for="embed_speechiness">Embed Speechiness</label>
        <input type="checkbox" id="embed_speechiness" {% if config.embed_speechiness %}checked{% endif %}><br><br>

        <label for="embed_valence">Embed Valence</label>
        <input type="checkbox" id="embed_valence" {% if config.embed_valence %}checked{% endif %}><br><br>

        <button type="button" onclick="updateSettings()">Save Settings</button>
    </form>

    <script>
        function updateSettings() {
            console.log('Success:');
            const parsingAccSn = document.getElementById('parsing_acc_sn').value;

            const downloadRoot = document.getElementById('download_root').value;
            const downloadCopyBtn = document.getElementById('download_copy_btn').checked;
            const downloadOpenBtn = document.getElementById('download_open_btn').checked;
            const downloadLocateBtn = document.getElementById('download_locate_btn').checked;
            const downloadDeleteBtn = document.getElementById('download_delete_btn').checked;
            const showSearchThumbnails = document.getElementById('show_search_thumbnails').checked;
            const showDownloadThumbnails = document.getElementById('show_download_thumbnails').checked;
            const searchThumbHeight = document.getElementById('search_thumb_height').value;
            const maxSearchResults = document.getElementById('max_search_results').value;
            const explicitLabel = document.getElementById('explicit_label').value;
            const mirrorSpotifyPlayback = document.getElementById('mirror_spotify_playback').checked;
            const windows10ExplorerThumbnails = document.getElementById('windows_10_explorer_thumbnails').checked;
            const checkForUpdates = document.getElementById('check_for_updates').checked;

            const enableSearchTracks = document.getElementById('enable_search_tracks').checked;
            const enableSearchAlbums = document.getElementById('enable_search_albums').checked;
            const enableSearchArtists = document.getElementById('enable_search_artists').checked;
            const enableSearchPlaylists = document.getElementById('enable_search_playlists').checked;
            const enableSearchEpisodes = document.getElementById('enable_search_episodes').checked;
            const enableSearchShows = document.getElementById('enable_search_shows').checked;
            const enableSearchAudiobooks = document.getElementById('enable_search_audiobooks').checked;

            const mediaFormat = document.getElementById('media_format').value;
            const trackPathFormatter = document.getElementById('track_path_formatter').value;
            const podcastMediaFormat = document.getElementById('podcast_media_format').value;
            const podcastPathFormatter = document.getElementById('podcast_path_formatter').value;
            const usePlaylistPath = document.getElementById('use_playlist_path').checked;
            const playlistPathFormatter = document.getElementById('playlist_path_formatter').value;
            const createM3UPlaylists = document.getElementById('create_m3u_playlists').checked;
            const m3uNameFormatter = document.getElementById('m3u_name_formatter').value;
            const extSeparator = document.getElementById('ext_seperator').value;
            const extPath = document.getElementById('ext_path').value;
            const saveAlbumCover = document.getElementById('save_album_cover').checked;
            const albumCoverFormat = document.getElementById('album_cover_format').value;
            const illegalCharacterReplacement = document.getElementById('illegal_character_replacement').value;
            const inpEnableLyrics = document.getElementById('inp_enable_lyrics').checked;
            const onlySyncedLyrics = document.getElementById('only_synced_lyrics').checked;
            const useLrcFile = document.getElementById('use_lrc_file').checked;
            const fileBitrate = document.getElementById('file_bitrate').value;
            const fileHertz = document.getElementById('file_hertz').value;
            const rotateAccSn = document.getElementById('rotate_acc_sn').checked;
            const forceRaw = document.getElementById('force_raw').checked;
            const downloadDelay = document.getElementById('download_delay').value;
            const translateFilePath = document.getElementById('translate_file_path').value;
            const maximumQueueWorkers = document.getElementById('maximum_queue_workers').value;
            const maximumDownloadWorkers = document.getElementById('maximum_download_workers').value;

            const metadataSeparator = document.getElementById('metadata_seperator').value;
            const overwriteExistingMetadata = document.getElementById('overwrite_existing_metadata').checked;
            const embedCover = document.getElementById('embed_cover').checked;
            const embedBranding = document.getElementById('embed_branding').checked;
            const embedArtist = document.getElementById('embed_artist').checked;
            const embedAlbum = document.getElementById('embed_album').checked;
            const embedAlbumArtist = document.getElementById('embed_albumartist').checked;
            const embedName = document.getElementById('embed_name').checked;
            const embedYear = document.getElementById('embed_year').checked;
            const embedDiscNumber = document.getElementById('embed_discnumber').checked;
            const embedTrackNumber = document.getElementById('embed_tracknumber').checked;
            const embedGenre = document.getElementById('embed_genre').checked;
            const embedPerformers = document.getElementById('embed_performers').checked;
            const embedProducers = document.getElementById('embed_producers').checked;
            const embedWriters = document.getElementById('embed_writers').checked;
            const embedLabel = document.getElementById('embed_label').checked;
            const embedCopyright = document.getElementById('embed_copyright').checked;
            const embedDescription = document.getElementById('embed_description').checked;
            const embedLanguage = document.getElementById('embed_language').checked;
            const embedIsrc = document.getElementById('embed_isrc').checked;
            const embedLength = document.getElementById('embed_length').checked;
            const embedKey = document.getElementById('embed_key').checked;
            const embedBpm = document.getElementById('embed_bpm').checked;
            const embedUrl = document.getElementById('embed_url').checked;
            const embedLyrics = document.getElementById('embed_lyrics').checked;
            const embedExplicit = document.getElementById('embed_explicit').checked;
            const embedCompilation = document.getElementById('embed_compilation').checked;
            const embedServiceId = document.getElementById('embed_service_id').checked;
            const embedTimeSignature = document.getElementById('embed_timesignature').checked;
            const embedAcousticness = document.getElementById('embed_acousticness').checked;
            const embedDanceability = document.getElementById('embed_danceability').checked;
            const embedEnergy = document.getElementById('embed_energy').checked;
            const embedInstrumentalness = document.getElementById('embed_instrumentalness').checked;
            const embedLiveness = document.getElementById('embed_liveness').checked;
            const embedLoudness = document.getElementById('embed_loudness').checked;
            const embedSpeechiness = document.getElementById('embed_speechiness').checked;
            const embedValence = document.getElementById('embed_valence').checked;

            const data = {
                parsing_acc_sn: parsingAccSn,
                download_root: downloadRoot,
                download_copy_btn: downloadCopyBtn,
                download_open_btn: downloadOpenBtn,
                download_locate_btn: downloadLocateBtn,
                download_delete_btn: downloadDeleteBtn,
                show_search_thumbnails: showSearchThumbnails,
                show_download_thumbnails: showDownloadThumbnails,
                search_thumb_height: searchThumbHeight,
                max_search_results: maxSearchResults,
                explicit_label: explicitLabel,
                mirror_spotify_playback: mirrorSpotifyPlayback,
                windows_10_explorer_thumbnails: windows10ExplorerThumbnails,
                check_for_updates: checkForUpdates,
                enable_search_tracks: enableSearchTracks,
                enable_search_albums: enableSearchAlbums,
                enable_search_artists: enableSearchArtists,
                enable_search_playlists: enableSearchPlaylists,
                enable_search_episodes: enableSearchEpisodes,
                enable_search_shows: enableSearchShows,
                enable_search_audiobooks: enableSearchAudiobooks,
                media_format: mediaFormat,
                track_path_formatter: trackPathFormatter,
                podcast_media_format: podcastMediaFormat,
                podcast_path_formatter: podcastPathFormatter,
                use_playlist_path: usePlaylistPath,
                playlist_path_formatter: playlistPathFormatter,
                create_m3u_playlists: createM3UPlaylists,
                m3u_name_formatter: m3uNameFormatter,
                ext_seperator: extSeparator,
                ext_path: extPath,
                save_album_cover: saveAlbumCover,
                album_cover_format: albumCoverFormat,
                illegal_character_replacement: illegalCharacterReplacement,
                inp_enable_lyrics: inpEnableLyrics,
                only_synced_lyrics: onlySyncedLyrics,
                use_lrc_file: useLrcFile,
                file_bitrate: fileBitrate,
                file_hertz: fileHertz,
                rotate_acc_sn: rotateAccSn,
                force_raw: forceRaw,
                download_delay: downloadDelay,
                translate_file_path: translateFilePath,
                maximum_queue_workers: maximumQueueWorkers,
                maximum_download_workers: maximumDownloadWorkers,
                metadata_separator: metadataSeparator,
                overwrite_existing_metadata: overwriteExistingMetadata,
                embed_cover: embedCover,
                embed_branding: embedBranding,
                embed_artist: embedArtist,
                embed_album: embedAlbum,
                embed_albumartist: embedAlbumArtist,
                embed_name: embedName,
                embed_year: embedYear,
                embed_discnumber: embedDiscNumber,
                embed_tracknumber: embedTrackNumber,
                embed_genre: embedGenre,
                embed_performers: embedPerformers,
                embed_producers: embedProducers,
                embed_writers: embedWriters,
                embed_label: embedLabel,
                embed_copyright: embedCopyright,
                embed_description: embedDescription,
                embed_language: embedLanguage,
                embed_isrc: embedIsrc,
                embed_length: embedLength,
                embed_key: embedKey,
                embed_bpm: embedBpm,
                embed_url: embedUrl,
                embed_lyrics: embedLyrics,
                embed_explicit: embedExplicit,
                embed_compilation: embedCompilation,
                embed_service_id: embedServiceId,
                embed_timesignature: embedTimeSignature,
                embed_acousticness: embedAcousticness,
                embed_danceability: embedDanceability,
                embed_energy: embedEnergy,
                embed_instrumentalness: embedInstrumentalness,
                embed_liveness: embedLiveness,
                embed_loudness: embedLoudness,
                embed_speechiness: embedSpeechiness,
                embed_valence: embedValence,
            };

            fetch('/update_settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
