QDialog {
   background-color: #282828;
   color: #fff;
}
QPushButton {
   background-color: #282828;
   color: #fff;
}
QPushButton:hover {
   background-color: #282828;
   color: #fff;
}
QLabel {
   color: #fff;
}
