QWidget {
   background-color: #fff;
   color: #000;
}
QDialog {
   background-color: #fff;
   color: #000;
}
QPushButton {
   background-color: #fff;
   color: #000;
}
QPushButton:hover {
   background-color: #fff;
   color: #000;
}
QLabel {
   color: #000;
}
